.totals {
    margin: auto;
    width: 90%;
    height: 60vh;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .head { 
     margin-left: 50px;
    
 }
 .plus {
    font-size: 40px;
    position: absolute;
    top: 140px;
    left:1200px;
    /* border: 1px solid black; */
    /* height: 30px;
    margin-top: 20px; */
 }